%bszbb
	@include box-sizing(border-box)

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	min-width: $min-width
	max-width: $page_w_max_sm
	padding-left: 10px
	padding-right: 10px
	@extend %bszbb

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */


.page
	$footer_h: 143px

	position: relative
	min-height: 100%
	width: 100%
	min-width: $page_w

	&__header
		//background: #adf785
		border-bottom: 1px solid #e0e0e0
		@include box-shadow(0 1px 0 #f2f2f2)
		

	&__header-in
		position: relative
		height: 70px
		@extend %clear
		max-width: $page_w_max

	&__body

	&__in
		padding-bottom: $footer_h

	&__mainbar
		padding-bottom: 15px
		
	&__footer
		@extend %bszbb
		padding-top: 13px
		position: relative
		//background: #f1acf2
		margin-top: -$footer_h
		height: $footer_h
		min-width: $min-width
		border-top: 1px solid $dark-el-color__sep

	
/* page
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	position: relative
	top: 28px
	display: block
	width: 154px
	height: 22px
	border-bottom: none
	float: left
	margin-right: 39px
	margin-left: 30px


	&__icon
		display: block


	
/* logo
/* ---------------------------------------END--- */


/* search-panel
/* --------------------------------------------- */

.search-panel
	background: $dark-el-color__bg
	padding: 23px 0 16px 0
	margin-bottom: 28px

/* search-panel
/* ---------------------------------------END--- */


/* nav
/* --------------------------------------------- */

.nav
	position: absolute
	top: 72px
	left: 0
	right: 0
	background: #fff
	padding: 34px 10px
	+transition-duration(.5s)
	+box-shadow(0px 15px 15px rgba(#000, .2))
	visibility: hidden
	+opacity(0)
	z-index: 100

	&.is-open
		+opacity(1)
		visibility: visible

	&__body
		margin: auto
		max-width: $page_w_max_sm - 20

	&__main-nav
		display: none
		margin-top: -20px
		margin-bottom: 20px



/* nav
/* ---------------------------------------END--- */


/* nav-ctrl
/* --------------------------------------------- */

.nav-ctrl
	float: left
	width: 70px
	height: 70px
	border-right: 1px solid #fbfbfb
	//background: #E6DEDE
	cursor: pointer
	position: relative


	&:before
		content: ''
		display: block
		position: absolute
		bottom: -2px
		right: 0
		width: 9999px
		height: 2px
		background: #fff
		+transition-duration(.5s)
		visibility: hidden
		+opacity(0)

	&.is-open
		&:before
			+opacity(1)
			visibility: visible


	&.is-open

	&__body
		position: absolute
		width: 20px
		height: 14px
		top: 50%
		margin-top: -7px
		left: 50%
		margin-left: -10px
		//background: red
	
	&:hover &__i
		background: $link_color_hover
	&__i
		width: 20px
		height: 2px
		background: #60676d
		position: absolute
		left: 0
		+transition-duration(.5s)
		+transform-origin(left, center)


		&_tp_top
			top: 0
			.is-open &
				top: -1px
				+rotate(45deg)

		&_tp_middle
			top: 6px
			.is-open &
				left: -15px
				+opacity(0)

		&_tp_bottom
			bottom: 0
			.is-open &
				bottom: -1px
				+rotate(-45deg)

/* nav-ctrl
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */



/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: 0
	

/* svg-icons
/* ---------------------------------------END--- */


/* footer-nav
/* --------------------------------------------- */

.footer-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	padding: 10px 0

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		display: block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		padding: 3px 13px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active &
			color: $link_color_hover

/* footer-nav
/* ---------------------------------------END--- */


/* columns
/* --------------------------------------------- */

.columns
	display: table
	width: 100%

	&_space-bot_normal
		margin-bottom: $content_bot_space

	&_number_2 &__i
		width: (100% / 2)
	&_number_3 &__i
		width: (100% / 3)
	&_number_4 &__i
		width: (100% / 4)

	&__i
		display: table-cell
		vertical-align: top

		&_valign_middle
			vertical-align: middle



/* columns
/* ---------------------------------------END--- */


/* txt-to-right
/* --------------------------------------------- */

.txt-to-right
	text-align: right

/* txt-to-right
/* ---------------------------------------END--- */


/* main-nav
/* --------------------------------------------- */

.main-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	
	&_lt_left
		float: left

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		position: relative
		display: block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		padding: 0 13px
		height: 70px
		line-height: 70px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active &
			color: $active-color

			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 5px
				background: $active-color
		

/* main-nav
/* ---------------------------------------END--- */


/* icon
/* --------------------------------------------- */

.icon
	width: 16px
	height: 16px
	display: inline-block
	vertical-align: middle

/* icon
/* ---------------------------------------END--- */


/* bordered-panel
/* --------------------------------------------- */

.bordered-panel
	padding-top: 13px
	border-top: 1px solid $dark-el-color__sep

/* bordered-panel
/* ---------------------------------------END--- */


/* copyright
/* --------------------------------------------- */

.copyright
	margin-bottom: 12px

/* copyright
/* ---------------------------------------END--- */


/* rights
/* --------------------------------------------- */

.rights
	color: #979797
	+rem(font-size, 11px)

/* rights
/* ---------------------------------------END--- */


/* category-nav
/* --------------------------------------------- */

.category-nav
	&__h
		+rem(font-size, 16px)
		@extend %font-regular
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
		font-weight: bold
		padding-bottom: 3px
		display: inline-block
		
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		+rem(font-size, 12px)
		display: block
		
		
	&__i
		margin: 0
		padding: 0
		display: block

	&__a
		+link-color ($color_visited: none)
		padding: 3px 0
		display: inline-block
		

/* category-nav
/* ---------------------------------------END--- */


/* nav-teasers
/* --------------------------------------------- */

.nav-teasers

	margin-bottom: 13px

	
	
	&__lst
		margin: 0 0 0 -20px
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0 0 26px 20px
		padding: 0
		@extend %bszbb
		display: inline-block
		vertical-align: top
		width: (100%/4) - 4%


/* nav-teasers
/* ---------------------------------------END--- */


/* enter
/* --------------------------------------------- */

.enter
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

	&__icon
		margin-left: 30px

		
	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		display: inline-block
		vertical-align: middle
		margin-left: 10px

/* enter
/* ---------------------------------------END--- */


/* user
/* --------------------------------------------- */

.user
	display: inline-block
	vertical-align: middle
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)


	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		display: inline-block
		vertical-align: middle
		@extend %font-black
		margin-left: 20px


/* user
/* ---------------------------------------END--- */

	
/* add-button
/* --------------------------------------------- */

.add-button
	display: inline-block
	vertical-align: middle
	margin-left: 30px

	&__icon
		width: 32px
		height: 32px
		display: block

/* add-button
/* ---------------------------------------END--- */


/* all-favorites
/* --------------------------------------------- */

.all-favorites
	display: inline-block
	vertical-align: middle
	white-space: nowrap

	&__icon
		vertical-align: middle
		color: #d9dbdc
		
	&__h
		color: #D7D9DA
		+rem(font-size, 12px)
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		

/* all-favorites
/* ---------------------------------------END--- */


/* teasers
/* --------------------------------------------- */

.teasers
	margin-bottom: 5px

	&_lt_list
		margin-bottom: 21px

	&__lst
		margin: 0 0 0 -20px
		padding: 0
		list-style-type: none
		@extend %clear

	&__i
		margin: 0 0 20px 20px
		padding: 0
		width: 280px
		float: left
		display: block

	&__img-a
		display: block
		position: relative

	&__img
		display: block

	&__legend
		padding: 0 10px 15px 10px
		border: 1px solid $dark-el-color__sep
		border-top: none


	&__i_stl_important &__legend
		border-color: $important_color
		+box-shadow(inset -1px -1px 0 1px $important_color, inset 1px -1px 0 1px $important_color)


	&__h
		display: block
		@extend %bszbb
		height: 80px
		margin-bottom: 10px
		overflow: hidden
		padding: 12px 0 0 0
		+rem(font-size, 20px)
		line-height: 1.1
		@extend %font-medium
		+link-color ($color: $text_color, $color_visited: $link_color_visited2)

	&__price
		color: $price_color
		+rem(font-size, 16px)
		margin-bottom: 10px

	&__footer
		display: table
		width: 100%
		color: $text-light_color
		+rem(font-size, 12px)

	&__footer-i
		display: table-cell

		&_align_right
			text-align: right
	

	&__favorite
		vertical-align: middle
		color: $favorite_color
		margin-left: 15px

	&__prop
		vertical-align: middle
		display: inline-block

		&_tp_place
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			max-width: 120px


	&__photo-inf
		position: absolute
		bottom: 10px
		left: 15px


	&_lt_list &__lst
		margin: 0

	&_lt_list &__i
		@extend %bszbb
		display: table
		width: 100%
		float: none
		padding: 4px
		border-bottom: 1px solid $dark-el-color__sep
		margin: 0


	&_lt_list &__i_stl_important
		border: 3px solid $important_color
		margin-top: -1px
		margin-left: -3px

		&:first-child
			border-top: 3px solid $important_color

	&_lt_list &__i_stl_important + &__i_stl_important
		margin-top: -3px

	&_lt_list &__img-a
		display: table-cell
		vertical-align: top
		width: 1px


	&_lt_list &__img
		width: 190px
		height: auto


	&_lt_list &__h
		height: 72px
		padding-top: 4px
		padding-bottom: 0
		margin-bottom: 6px

	&_lt_list &__price
		margin-bottom: 5px


	&_lt_list &__legend
		display: table-cell
		vertical-align: top
		border: none
		padding-bottom: 0


	&_lt_list &__photo-inf
		left: 11px
		bottom: 9px


	&_lt_list &__i_stl_important &__legend
		+box-shadow(none)


	&_lt_list &__prop_tp_place
		overflow: visible
		max-width: 100%



/* teasers
/* ---------------------------------------END--- */


/* photo-inf
/* --------------------------------------------- */

.photo-inf

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-radius: 2px
		+opacity(.4)
		background: #000
	
	&__txt
		position: relative
		z-index: 2
		width: 20px
		height: 15px
		line-height: 14px
		text-align: center
		+rem(font-size, 11px)
		color: #fff

	&__top
		position: absolute
		height: 3px
		top: -3px
		right: 0
		left: 0
		overflow: hidden

		&:before
			content: ''
			display: block
			position: absolute
			width: 10px
			height: 10px
			left: 50%
			margin-left: -5px
			top: 0
			border-radius: 5px
			+opacity(.4)

			background: #000
		

/* photo-inf
/* ---------------------------------------END--- */


/* section-h
/* --------------------------------------------- */

.section-h
	margin: 0 0 7px 0
	padding: 0
	
	&__legend
		display: inline-block
		@extend %font-thin
		color: $text-light_color

/* section-h
/* ---------------------------------------END--- */



/* nav-quantity
/* --------------------------------------------- */

.nav-quantity

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		
	&__a
		display: block
		+link-color ($color: $link_color, $color_hover: $link_color_hover, $color_visited: none)
		line-height: $menu-line-height
		padding: 4px 0

	&__legend
		display: inline-block
		color: $text-light_color 
		+rem(font-size, 12px)

/* nav-quantity
/* ---------------------------------------END--- */


/* separator
/* --------------------------------------------- */

.separator
	border-bottom: 1px solid $dark-el-color__sep

	&_color_light
		border-color: $dark-el-color__light

	&_space_bottom
		margin-bottom: $content_bot_space
		

	&_space_bottom-sm
		margin-bottom: $content_bot_space-sm

	&_space_bottom-more
		margin-bottom: $content_bot_space-more

/* separator
/* ---------------------------------------END--- */


/* quantity-columns
/* --------------------------------------------- */

.quantity-columns
	padding-bottom: 12px
	margin-bottom: 18px
	border-bottom: 1px solid $dark-el-color__sep

	&__i
		padding-right: 20px

/* quantity-columns
/* ---------------------------------------END--- */


/* breadcrumbs
/* --------------------------------------------- */

.breadcrumbs
	margin-bottom: 14px
	+rem(font-size, 11px)
	

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		display: inline-block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		
	&__a
		display: block
		padding: 0 13px
		position: relative
		+link-color ($color: $link_color, $color_hover: $link_color_hover, $color_visited: none)

		&:before
			content: ''
			display: block
			position: absolute
			top: 50%
			margin-top: -1px
			right: -2px
			width: 2px
			height: 2px
			border-radius: 1px
			background: #939393

	&__i:first-child &__a
		padding-left: 0

	&__i:last-child &__a
		padding-right: 0
		color: $text-light_color

		&:before
			display: none



/* breadcrumbs
/* ---------------------------------------END--- */


/* tab-nav
/* --------------------------------------------- */

.tab-nav
	vertical-align: middle
	display: inline-block
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		@extend %clear
		
	&__i
		margin: 0
		padding: 0
		float: left
		+rem(font-size, 13px)

		&:first-child
			border-radius: $border-radius 0 0 $border-radius

		&:last-child
			border-radius: 0 $border-radius $border-radius 0
		

	&__i_tp_icon &__a
		padding: 0
		width: 30px
		min-width: auto
		text-align: center
		+link-color ($color: $dark-el-color__fill, $color_hover: $link_color_hover, $color_visited: none)


	&__a
		display: block
		+link-color ($color: $text-light2_color, $color_hover: $link_color_hover, $color_visited: none)
		border: 1px solid $dark-el-color__form-el
		height: 30px
		line-height: 27px
		border-left: none
		min-width: 57px
		@extend %bszbb
		padding: 0 15px

		.is-active > &
			color: #fff !important
			background: $dark-el-color__fill
			border-color: #b2b8be
			+box-shadow(inset 0 4px 7px rgba(#000, .2))
			cursor: default


	&__i:first-child &__a
		border-left: 1px solid $dark-el-color__form-el
		border-radius: $border-radius 0 0 $border-radius

	&__i:last-child &__a
		border-radius: 0 $border-radius $border-radius 0

	&__icon
		width: 14px
		height: 13px
		margin-left: 2px
		display: inline-block
		position: relative
		top: 2px
		


/* tab-nav
/* ---------------------------------------END--- */

/* teasers-filter
/* --------------------------------------------- */

.teasers-filter
	&_lt_tile
		width: 880px

/* teasers-filter
/* ---------------------------------------END--- */


/* page-nav
/* --------------------------------------------- */

.page-nav
	margin-bottom: $content_bot_space-more
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		@extend %clear
		
	&__i
		margin: 0
		padding: 0
		float: left

	&__i_stt_disabled &__a
		color: $dark-el-color__light !important
		
		
	&__a
		display: block
		height: $input-height
		line-height: $input-height
		text-align: center
		min-width: 38px
		border: 1px solid $dark-el-color__light
		border-left: none
		+link-color ($color: $text-light2_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active > &
			color: #fff !important
			background: $active-color
			border-color: $active-color

	&__i:first-child &__a
		border-left: 1px solid $dark-el-color__light

	&__icon
		width: 16px
		height: 16px
		display: inline-block
		position: relative
		top: 3px



/* page-nav
/* ---------------------------------------END--- */


/* form-elements
/* --------------------------------------------- */


::-webkit-input-placeholder
	color: $placeholder_color
	

::-moz-placeholder
	color: $placeholder_color
	

input:-ms-input-placeholder
	color: $placeholder_color
	


.form-line
	margin-bottom: $content_bot_space-sm
	white-space: nowrap

	&_align_center
		text-align: center

	&_align_right
		text-align: right

	&_space_bot
		margin-bottom: 30px

	&_space_more
		margin-bottom: $content_bot_space-more

.space-left
	margin-left: 27px

.space-left-sm
	margin-left: 12px


		


.form-col
	display: inline-block
	vertical-align: top

.input
	+rem(font-size, 14px)
	padding: 0 14px
	width: 350px
	border: none
	border: 1px solid $dark-el-color__form-el

	@extend %bszbb

	background: #fff
	+transition-property(border, box-shadow)
	+transition-duration(0.2s)
	+transition-timing-function(linear)
	border-radius: $border-radius
	
	&_space_left
		margin-left: 12px

	&_w_sm
		width: 146px

	&_w_main-search
		width: 470px
		

	&_w_fluid
		width: 100% !important

	&:focus
		border-color: rgba($focus_color, 0.6)
		outline: 0
		outline: thin dotted 9
		+box-shadow(0 0 5px rgba($focus_color, 0.6))

input.input
	height: $input-height
	vertical-align: middle

input.input_h_big
	height: $input-height_big

input.input_h_sm
	height: $input-height_sm


textarea.input
	height: 180px
	width: 600px
	padding: 15px
	vertical-align: top

input.input_stt_error,
textarea.input_stt_error
	border: 1px solid #ff0000

select
	//width: 198px
	//padding: 6px 0 5px 0
	//background: #fafafa

.form-label
	display: block
	line-height: $menu-line-height

	&_stl_important
		@extend %font-regular
		font-weight: bold
	
	&_lt_top
		margin-bottom: 7px

	&_w_same
		width: 200px


.form-space-label
	margin-left: 209px

.required-mark
	color: #ff0000
	font-size: 17px

.form-legend
	font-size: 12px
	display: inline-block
	vertical-align: middle

.placeholder
	color: $placeholder_color

.form-success
	color: #0BAC31
	//font-size: 12px
	//+font-size-parent-em (12)
	font-style: italic
	white-space: normal

.form-fail
	color: #F33434
	//font-size: 12px
	//+font-size-parent-em (12)
	font-style: italic
	white-space: normal


/* form-elements
/* ---------------------------------------END--- */


/* form-columns
/* --------------------------------------------- */

.form-columns
	display: table
	width: 100%
	margin-bottom: $content_bot_space-sm

	&__i
		display: table-cell
		vertical-align: middle

		&_tp_label
			width: 175px

		&_valign_top
			vertical-align: top
			padding-top: 10px




/* form-columns
/* ---------------------------------------END--- */


/* cr (custom checkbox/radio)
/* --------------------------------------------- */

.cr
	cursor: pointer
	position: relative
	@extend %bszbb
	padding: 1px 0 1px 27px
	vertical-align: middle
	overflow: hidden
	display: inline-block
	line-height: $menu-line-height
	+rem(font-size, 14px)
	color: $text-light_color

	&.on
		color: $text_color


	&_space_left
		margin-left: 27px

	&_space_left-sm
		margin-left: 12px

	input
		position: absolute
		top: 4px
		left: 0
		left: -99999px

	&:before
		@extend %bszbb
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 18px
		height: 18px
		border: 1px solid $dark-el-color__fill
		background-color: #fff

	&:after
		content: ''
		display: block
		position: absolute
		+transition-duration(.3s)
		

	&.is-radio:after
		width: 8px
		height: 8px
		border-radius: 50%
		top: 7px
		left: 7px
		margin-left: -2px
		margin-top: -2px
		background: $focus_color
		@include scale(0)
		+transition-property(all)

	&.is-radio:before
		border-radius: 12px
		+transition-property(all)

	&.is-radio.on:before
		border-color: $focus_color

	&.is-radio.on:after
		@include scale(1)

	&.is-checkbox:before
		border-radius: $border-radius

	&.is-checkbox.on:before
		border-color: $focus_color
	
	&__icon
		display: block
		position: absolute
		width: 9px
		height: 7px
		top: 6px
		left: 5px
		+transition-property(opacity)
		+opacity(0)
		+transition-duration(.2s)

		.on > &
			+transition-duration(.3s)
			+opacity(1)

		img
			display: block


/* cr (custom checkbox/radio)
/* ---------------------------------------END--- */


/* select
/* --------------------------------------------- */

.select
	border: 1px solid $dark-el-color__form-el
	cursor: pointer
	display: inline-block
	vertical-align: middle
	position: relative
	display: inline-block
	width: 350px
	@extend %bszbb
	border-radius: $border-radius
	background: #fff
	text-align: left

	&_w_category
		width: 240px

	&_w_city
		width: 270px

	&_w_sm
		width: 128px

	&.is-selected
		border-color: $focus-color

	&_w_fluid
		width: 100% !important

	&__select
		position: relative
		z-index: 10
		height: $input-height - 2
		border: 0
		+opacity(0)
		width: 100% !important

	&_h_big &__select
		height: $input-height_big - 2

	&_h_sm &__select
		height: $input-height_sm - 2
	
	&.is-selected &__item
		color: $text_color

	&__item
		color: $text-light_color
		position: absolute
		top: 0
		left: 0
		z-index: 1
		display: inline-block
		+rem(font-size, 14px)
		width: 100%
		//border-radius: $border-radius

		span span
			display: block
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap



	&__bg
		display: block
		padding: 0 25px 0 14px
		line-height: $input-height - 1
		height: $input-height - 2

		
		@extend %bszbb

	&_h_big &__bg
		height: $input-height_big - 2
		line-height: $input-height_big - 1

	&_h_sm &__bg
		height: $input-height_sm - 2
		line-height: $input-height_sm - 3

	&__arrow
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: $input-height
		background: url("../img/arrow-bottom.png") center center no-repeat

	&_h_big &__arrow
		width: $input-height_big

	&_h_sm &__arrow
		width: $input-height_sm
		
	&.is-selected &__arrow	
		background: url("../img/arrow-bottom_selected.png") center center no-repeat

/* select
/* ---------------------------------------END--- */


/* input-train
/* --------------------------------------------- */

.input-train
	@extend %clear

	margin-bottom: $content_bot_space-sm
	
	&__i
		float: left
		border-left-width: 0
		border-radius: 0

		&:first-child
			border-left-style: solid
			border-left-width: 1px
			border-radius: $border-radius 0 0 $border-radius

		&:last-child
			border-radius: 0 $border-radius $border-radius 0

		& + .select
			margin-left: -1px
			border-left-style: solid
			border-left-width: 1px

/* input-train
/* ---------------------------------------END--- */


/* button
/* --------------------------------------------- */

.button
	position: relative
	font-weight: bold
	display: inline-block
	overflow: visible
	border: none
	color: #fff !important
	text-align: center
	text-decoration: none
	cursor: pointer
	vertical-align: middle
	outline: none
	+rem(font-size, 12px)
	text-transform: uppercase
	+rem(letter-spacing, $letter-spacing)
	padding: 0 45px
	height: $input-height_big
	line-height: $input-height_big
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background: $main-color
	border-radius: 4px
	@extend %bszbb
	@extend %font-black

	&_stl_bordered
		border: 2px solid $main-color
		background: #fff
		color: $main-color !important
		line-height: $input-height_big - 3


	&:active
		+box-shadow(inset 0px 5px 10px rgba(#000, .2))
		line-height: $input-height_big + 2

	&_stl_bordered:active
		line-height: $input-height_big - 1
		

	&_stt_disabled,
	&_stt_disabled:active
		color: #fff !important
		background: $disabled-color
		cursor: default



/* button
/* ---------------------------------------END--- */



