%bszbb
	@include box-sizing(border-box)

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */


%star-favorites-no
	stroke: $dark-el-color__fill
	fill: none

%star-favorites-yes
	fill: $star-color
	stroke: $star-color


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	min-width: $page_w_min
	max-width: $page_w_max_sm
	padding-left: 10px
	padding-right: 10px
	@extend %bszbb

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */


.page
	$footer_h: 143px
	$left-sidebar_w: 280px
	$right-sidebar_w: 285px
	$right-sidebar2_w: 260px
	
	@extend %bszbb
	position: relative
	min-height: 100%
	width: 100%
	min-width: $page_w_min

	&_stl_bg
		background: $dark-el-color__bg
		padding-left: 15px
		padding-right: 15px


	&_stl_bg &__header
		margin-left: -15px
		margin-right: -15px

	&__header
		//background: #adf785
		border-bottom: 1px solid $dark-el-color__page-border
		@include box-shadow(0 1px 0 #f2f2f2)
		background: #fff


		

	&__header-in
		position: relative
		height: 70px
		@extend %clear
		max-width: $page_w_max

	&_sidebars_left  &__body,
	&_sidebars_right  &__body
		@extend %clear

	&__body
		background: #fff

	&_stl_bg &__body
		margin-top: 23px
		margin-bottom: 32px
		padding-left: 30px
		position: relative
		max-width: $page_w_min

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			left: 0
			height: 4px
			background: #dbf0e0
	
	&_stl_bg.page_sidebars_left &__body,
	&_stl_bg.page_sidebars_right &__body
		max-width: $page_w_max_sm

	&__in
		padding-bottom: $footer_h

	&__mainbar
		padding-bottom: 15px
		img
			max-width: 100%
			height: auto
	
	&_stl_bg &__content
		padding-top: 1px
		padding-bottom: 1px
		padding-right: 20px
		position: relative
		min-height: 300px

	&_stl_bg.page_sidebars_right &__content
		&:after
			content: ''
			display: block
			position: absolute
			top: 0
			right: 0
			bottom: -15px
			width: 1px
			background: rgba($dark-el-color__fill, .2)

	&__content
		margin: 0
		min-height: 20px

		//background: #f6f866

	&_sidebars_left &__content
		margin-left: $left-sidebar_w

	&_sidebars_right &__content
		margin-right: $right-sidebar_w

	&_sidebars_both &__content
		margin-left: $left-sidebar_w
		margin-right: $right-sidebar_w

	&_stl_bg.page_sidebars_right &__content
		margin-right: $right-sidebar2_w
		padding-right: 30px
		

	&_sidebars_left &__mainbar,
	&_sidebars_right &__mainbar,
	&_sidebars_both &__mainbar
		float: left
		width: 100%


	&__sidebar
		float: left
		width: $left-sidebar_w
		@extend %bszbb
		margin-bottom: $content_bot_space-sm
		position: relative

		&_lt_left
			padding-right: 20px
			margin-left: -100%

		&_lt_right
			width: $right-sidebar_w
			padding-left: 20px
			margin-left: - $right-sidebar_w
	
	&_stl_bg.page_sidebars_right &__sidebar
		width: $right-sidebar2_w
		margin-left: - $right-sidebar2_w
		padding-top: 35px
		padding-right: 10px

		&:before
			content: ''
			display: block
			position: absolute
			top: 0
			right: -10px
			left: 0
			height: 4px
			background: #fee9d1
		

	&__space
		padding-right: 100px

			
	&__footer
		background: #fff
		@extend %bszbb
		padding-top: 13px
		position: relative
		//background: #f1acf2
		margin-top: -$footer_h
		height: $footer_h
		min-width: $page_w_min
		border-top: 1px solid $dark-el-color__sep


	

	
/* page
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	position: relative
	top: 28px
	display: block
	width: 154px
	height: 22px
	border-bottom: none
	float: left
	margin-right: 39px
	margin-left: 30px


	&__icon
		display: block


	
/* logo
/* ---------------------------------------END--- */


/* search-panel
/* --------------------------------------------- */

.search-panel
	background: $dark-el-color__bg
	padding: 23px 0 16px 0
	margin-bottom: 28px

	&__body
		position: relative

	&_lt_inner
		padding-left: 15px
		padding-right: 15px

/* search-panel
/* ---------------------------------------END--- */


/* nav
/* --------------------------------------------- */

.nav
	position: absolute
	top: 72px
	left: 0
	right: 0
	background: #fff
	padding: 34px 10px
	+transition-duration(.5s)
	+box-shadow(0px 15px 15px rgba(#000, .2))
	visibility: hidden
	+opacity(0)
	z-index: 100

	&.is-open
		+opacity(1)
		visibility: visible

	&__body
		margin: auto
		max-width: $page_w_max_sm - 20

	&__main-nav
		display: none
		margin-top: -20px
		margin-bottom: 20px



/* nav
/* ---------------------------------------END--- */


/* nav-ctrl
/* --------------------------------------------- */

.nav-ctrl
	float: left
	width: 70px
	height: 70px
	border-right: 1px solid #fbfbfb
	//background: #E6DEDE
	cursor: pointer
	position: relative


	&:before
		content: ''
		display: block
		position: absolute
		bottom: -2px
		right: 0
		width: 9999px
		height: 2px
		background: #fff
		+transition-duration(.5s)
		visibility: hidden
		+opacity(0)

	&.is-open
		&:before
			+opacity(1)
			visibility: visible


	&.is-open

	&__body
		position: absolute
		width: 20px
		height: 14px
		top: 50%
		margin-top: -7px
		left: 50%
		margin-left: -10px
		//background: red
	
	&:hover &__i
		background: $link_color_hover
	&__i
		width: 20px
		height: 2px
		background: #60676d
		position: absolute
		left: 0
		+transition-duration(.5s)
		+transform-origin(left, center)


		&_tp_top
			top: 0
			.is-open &
				top: -1px
				+rotate(45deg)

		&_tp_middle
			top: 6px
			.is-open &
				left: -15px
				+opacity(0)

		&_tp_bottom
			bottom: 0
			.is-open &
				bottom: -1px
				+rotate(-45deg)

/* nav-ctrl
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */



/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: 0
	

/* svg-icons
/* ---------------------------------------END--- */


/* footer-nav
/* --------------------------------------------- */

.footer-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	padding: 10px 0

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		display: block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		padding: 3px 12px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active &
			color: $active-color

/* footer-nav
/* ---------------------------------------END--- */


/* columns
/* --------------------------------------------- */

.columns
	display: table
	width: 100%

	&_valign_middle &__i
		vertical-align: middle
		

	&_space-bot_normal
		margin-bottom: $content_bot_space

	&_space-bot_sm
		margin-bottom: $content_bot_space-sm

	&_space-bot_smst
		margin-bottom: $content_bot_space-smst

	&_number_2 &__i
		width: (100% / 2)
	&_number_3 &__i
		width: (100% / 3)
	&_number_4 &__i
		width: (100% / 4)

	&__i
		display: table-cell
		vertical-align: top

		&_valign_middle
			vertical-align: middle



/* columns
/* ---------------------------------------END--- */


/* txt-to-right
/* --------------------------------------------- */

.txt-to-right
	text-align: right

/* txt-to-right
/* ---------------------------------------END--- */


/* main-nav
/* --------------------------------------------- */

.main-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	
	&_lt_left
		float: left

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		position: relative
		display: block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		padding: 0 12px
		height: 70px
		line-height: 70px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		+max-screen($mq-main-nav-w)
			padding: 0 5px !important

		.is-active &
			color: $active-color

			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 5px
				background: $active-color
		

/* main-nav
/* ---------------------------------------END--- */


/* icon
/* --------------------------------------------- */

.icon
	width: 16px
	height: 16px
	display: inline-block
	vertical-align: middle

/* icon
/* ---------------------------------------END--- */


/* bordered-panel
/* --------------------------------------------- */

.bordered-panel
	background: #fff
	padding-top: 13px
	border-top: 1px solid $dark-el-color__sep

/* bordered-panel
/* ---------------------------------------END--- */


/* copyright
/* --------------------------------------------- */

.copyright
	margin-bottom: 12px

/* copyright
/* ---------------------------------------END--- */


/* rights
/* --------------------------------------------- */

.rights
	color: #979797
	+rem(font-size, 11px)

/* rights
/* ---------------------------------------END--- */


/* category-nav
/* --------------------------------------------- */

.category-nav
	&__h
		+rem(font-size, 16px)
		@extend %font-regular
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
		font-weight: bold
		padding-bottom: 3px
		display: inline-block
		
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		+rem(font-size, 12px)
		display: block
		
		
	&__i
		margin: 0
		padding: 0
		display: block

	&__a
		+link-color ($color_visited: none)
		padding: 3px 0
		display: inline-block
		

/* category-nav
/* ---------------------------------------END--- */


/* nav-teasers
/* --------------------------------------------- */

.nav-teasers

	margin-bottom: 13px

	
	
	&__lst
		margin: 0 0 0 -20px
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0 0 26px 20px
		padding: 0
		@extend %bszbb
		display: inline-block
		vertical-align: top
		width: (100%/4) - 2.3%


/* nav-teasers
/* ---------------------------------------END--- */


/* enter
/* --------------------------------------------- */

.enter
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

	&__icon
		margin-left: 30px

		+max-screen($mq-header-w)
			margin-left: 12px !important

		
	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		display: inline-block
		vertical-align: middle
		margin-left: 10px

		+max-screen($mq-header-w)
			margin-left: 2px !important

/* enter
/* ---------------------------------------END--- */


/* user
/* --------------------------------------------- */

.user
	position: relative
	display: inline-block
	vertical-align: middle
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
	margin-left: 20px
	+transition-property(color, border)
	+transition-duration(.5s)

	&:hover
		+transition-duration(.1s)

	+max-screen($mq-header-w)
		margin-left: 8px !important

	&_stt_logged
		+link-color ($color: $text-light2_color, $color_hover: $link_color_hover, $color_visited: none)
		cursor: pointer
	
	&__img
		display: inline-block
		vertical-align: middle
		width: 36px
		height: auto
		border-radius: 50%
		margin-right: 13px

	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		display: inline-block
		vertical-align: middle
		@extend %font-black

	&__arrow
		width: 11px
		height: 7px
		display: inline-block
		position: relative
		top: -1px
		margin-left: 5px

	&__popup
		position: absolute
		top: 53px
		right: 0
		width: 170px
		background: #fff
		+box-shadow(0px 8px 10px rgba(#000, .2))
		border: 1px solid $dark-el-color__page-border
		border-top: none
		z-index: 100
		padding: 10px 0
		text-align: left
		+transition-duration(.5s)
		visibility: hidden
		+opacity(0)

		&.is-open
			+opacity(1)
			visibility: visible

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		
	&__a
		display: block
		padding: 6px 20px
		+link-color ($color_visited: none)


/* user
/* ---------------------------------------END--- */

	
/* add-button
/* --------------------------------------------- */

.add-button
	display: inline-block
	vertical-align: middle
	margin-left: 30px
	width: 32px
	height: 32px
	background: $main-color
	position: relative
	border-radius: 50%
	@include transition-duration(.9s)
	@include transition-property(background)

	&:hover
		background: $active-color
		@include transition-duration(.2s)

	+max-screen($mq-header-w)
		margin-left: 6px !important

	& &__icon
		width: 10px
		height: 10px
		display: block
		color: #fff
		position: absolute
		top: 50%
		margin-top: -5px
		left: 50%
		margin-left: -5px

/* add-button
/* ---------------------------------------END--- */


/* all-favorites
/* --------------------------------------------- */

.all-favorites
	display: inline-block
	vertical-align: middle
	white-space: nowrap

	&__icon
		vertical-align: middle
		@extend %star-favorites-no

		&_stt_added
			@extend %star-favorites-yes
	
	&__h
		color: #D7D9DA
		+rem(font-size, 12px)
		display: inline-block
		vertical-align: middle
		margin-left: 10px

		+max-screen($mq-header-w)
			margin-left: 4px !important

/* all-favorites
/* ---------------------------------------END--- */


/* icon-star
/* --------------------------------------------- */

.icon-star
	stroke-miterlimit: 10
	stroke-width: 0.8

/* icon-star
/* ---------------------------------------END--- */


/* teasers
/* --------------------------------------------- */

.teasers
	margin-bottom: 5px

	&_lt_list
		margin-bottom: 21px

	&__lst
		margin: 0 0 0 -20px
		padding: 0
		list-style-type: none
		@extend %clear

	&__i
		margin: 0 0 20px 20px
		padding: 0
		width: 280px
		float: left
		display: block

	&__img-a
		display: block
		position: relative

	&__img
		display: block


	&__legend
		padding: 0 10px 15px 10px
		border: 1px solid $dark-el-color__sep
		border-top: none


	&__i_stl_important &__legend
		border-color: $important_color
		+box-shadow(inset -1px -1px 0 1px $important_color, inset 1px -1px 0 1px $important_color)


	&__h
		display: block
		@extend %bszbb
		height: 80px
		margin-bottom: 10px
		overflow: hidden
		padding: 12px 0 0 0
		+rem(font-size, 20px)
		line-height: 1.1
		@extend %font-medium
		+link-color ($color: $text_color, $color_visited: $link_color_visited2)

	&__price
		color: $price_color
		+rem(font-size, 16px)
		margin-bottom: 10px

	&__footer
		display: table
		width: 100%
		color: $text-light_color
		+rem(font-size, 12px)

	&__footer-i
		display: table-cell

		&_align_right
			text-align: right
	

	&__favorite
		vertical-align: middle
		color: $favorite_color
		margin-left: 15px
		cursor: pointer
		@extend %star-favorites-no

		&:hover
			@extend %star-favorites-yes

		&_stt_added
			@extend %star-favorites-yes
			cursor: default

	&__prop
		vertical-align: middle
		display: inline-block

		&_tp_place
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap
			max-width: 120px


	&__photo-inf
		position: absolute
		bottom: 10px
		left: 15px


	&_lt_list &__lst
		margin: 0

	&_lt_list &__i
		@extend %bszbb
		display: table
		width: 100%
		float: none
		padding: 4px
		border-bottom: 1px solid $dark-el-color__sep
		margin: 0


	&_lt_list &__i_stl_important
		border: 3px solid $important_color
		margin-top: -1px
		margin-left: -3px


		&:first-child
			border-top: 3px solid $important_color

	&_lt_list &__i_stl_important + &__i_stl_important
		margin-top: -3px


	&_lt_list &__img-a
		display: table-cell
		vertical-align: top
		width: 190px


	&_lt_list &__img
		width: 190px
		height: auto

	&_lt_list &__h
		height: 72px
		padding-top: 4px
		padding-bottom: 0
		margin-bottom: 6px

	&_lt_list &__price
		margin-bottom: 5px


	&_lt_list &__legend
		display: table-cell
		vertical-align: top
		border: none
		padding-bottom: 0


	&_lt_list &__photo-inf
		left: 11px
		bottom: 9px


	&_lt_list &__i_stl_important &__legend
		+box-shadow(none)


	&_lt_list &__prop_tp_place
		overflow: visible
		max-width: 100%



/* teasers
/* ---------------------------------------END--- */


/* photo-inf
/* --------------------------------------------- */

.photo-inf

	&:before
		content: ''
		display: block
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		border-radius: 2px
		+opacity(.4)
		background: #000
	
	&__txt
		position: relative
		z-index: 2
		width: 20px
		height: 15px
		line-height: 14px
		text-align: center
		+rem(font-size, 11px)
		color: #fff

	&__top
		position: absolute
		height: 3px
		top: -3px
		right: 0
		left: 0
		overflow: hidden

		&:before
			content: ''
			display: block
			position: absolute
			width: 10px
			height: 10px
			left: 50%
			margin-left: -5px
			top: 0
			border-radius: 5px
			+opacity(.4)

			background: #000
		

/* photo-inf
/* ---------------------------------------END--- */


/* section-h
/* --------------------------------------------- */

.section-h
	margin: 0 0 12px 0
	padding: 0
	
	&__legend
		display: inline-block
		@extend %font-thin
		color: $text-light_color

/* section-h
/* ---------------------------------------END--- */


/* small-section-h
/* --------------------------------------------- */

.small-section-h
	margin: 20px 0
	padding: 0

/* small-section-h
/* ---------------------------------------END--- */



/* nav-quantity
/* --------------------------------------------- */

.nav-quantity
	padding-bottom: 12px
	margin-bottom: 18px
	border-bottom: 1px solid $dark-el-color__sep

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		display: inline-block
		width: 24%
		vertical-align: top
		@extend %bszbb
		padding-right: 20px
		
	&__a
		display: block
		+link-color ($color: $link_color, $color_hover: $link_color_hover, $color_visited: none)
		line-height: $menu-line-height
		padding: 4px 0

	&__legend
		display: inline-block
		color: $text-light_color 
		+rem(font-size, 12px)

/* nav-quantity
/* ---------------------------------------END--- */


/* separator
/* --------------------------------------------- */

.separator
	border-bottom: 1px solid $dark-el-color__sep

	&_color_light
		border-color: $dark-el-color__light

	&_space_bottom
		margin-bottom: $content_bot_space
		

	&_space_bottom-sm
		margin-bottom: $content_bot_space-sm

	&_space_bottom-more
		margin-bottom: $content_bot_space-more

/* separator
/* ---------------------------------------END--- */


/* breadcrumbs
/* --------------------------------------------- */

.breadcrumbs
	margin-bottom: 14px
	+rem(font-size, 11px)
	

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		display: inline-block
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		
	&__a
		display: block
		padding: 0 13px
		position: relative
		+link-color ($color: $link_color, $color_hover: $link_color_hover, $color_visited: none)

		&:before
			content: ''
			display: block
			position: absolute
			top: 50%
			margin-top: -1px
			right: -2px
			width: 2px
			height: 2px
			border-radius: 1px
			background: #939393

	&__i:first-child &__a
		padding-left: 0

	&__i:last-child &__a
		padding-right: 0
		color: $text-light_color

		&:before
			display: none



/* breadcrumbs
/* ---------------------------------------END--- */


/* tab-nav
/* --------------------------------------------- */

.tab-nav
	vertical-align: middle
	display: inline-block

	&_space_bottom
		margin-bottom: $content_bot_space-sm
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		@extend %clear
		
	&__i
		margin: 0
		padding: 0
		float: left
		+rem(font-size, 13px)

		&:first-child
			border-radius: $border-radius 0 0 $border-radius

		&:last-child
			border-radius: 0 $border-radius $border-radius 0

	&_stl_bold &__i
		+rem(font-size, 14px)

		

	&__i_tp_icon &__a
		padding: 0
		width: 30px
		min-width: auto
		text-align: center
		+link-color ($color: $dark-el-color__fill, $color_hover: $link_color_hover, $color_visited: none)


	&__a
		display: block
		+link-color ($color: $text-light2_color, $color_hover: $link_color_hover, $color_visited: none)
		border: 1px solid $dark-el-color__form-el
		height: 30px
		line-height: 27px
		border-left: none
		min-width: 57px
		@extend %bszbb
		padding: 0 15px

		.is-active > &
			color: #fff !important
			background: $dark-el-color__fill
			border-color: #b2b8be
			+box-shadow(inset 0 3px 5px rgba(#000, .1))
			cursor: default

	&_size_m &__a
		height: 38px
		line-height: 35px

	&_size_big &__a
		height: 44px
		line-height: 42px

	&_stl_bold &__a
		+link-color ($color: $text-light_color, $color_hover: $link_color_hover, $color_visited: none)
		@extend %font-regular
		font-weight: bold


	&__i:first-child &__a
		border-left: 1px solid $dark-el-color__form-el
		border-radius: $border-radius 0 0 $border-radius

	&__i:last-child &__a
		border-radius: 0 $border-radius $border-radius 0

	&__icon
		width: 14px
		height: 13px
		margin-left: 2px
		display: inline-block
		position: relative
		top: 2px

	&__legend
		display: inline-block
		margin-left: 4px
		color: $dark-el-color__fill
		font-weight: normal
		
	&__i.is-active &__legend
		color: #fff


/* tab-nav
/* ---------------------------------------END--- */

/* teasers-filter
/* --------------------------------------------- */

.teasers-filter
	&_lt_tile
		width: 880px

/* teasers-filter
/* ---------------------------------------END--- */


/* page-nav
/* --------------------------------------------- */

.page-nav
	margin-bottom: $content_bot_space-more
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		@extend %clear
		
	&__i
		margin: 0
		padding: 0
		float: left

	&__i_stt_disabled &__a
		color: $dark-el-color__light !important
		
		
	&__a
		display: block
		height: $input-height
		line-height: $input-height
		text-align: center
		min-width: 38px
		border: 1px solid $dark-el-color__light
		border-left: none
		+link-color ($color: $text-light2_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active > &
			color: #fff !important
			background: $active-color
			border-color: $active-color

	&__i:first-child &__a
		border-left: 1px solid $dark-el-color__light

	&__icon
		width: 16px
		height: 16px
		display: inline-block
		position: relative
		top: 3px



/* page-nav
/* ---------------------------------------END--- */


/* form-elements
/* --------------------------------------------- */


::-webkit-input-placeholder
	color: $placeholder_color
	

::-moz-placeholder
	color: $placeholder_color
	

input:-ms-input-placeholder
	color: $placeholder_color
	


.form-line
	margin-bottom: $content_bot_space-sm
	white-space: nowrap

	&_align_center
		text-align: center

	&_align_right
		text-align: right

	&_space_bot
		margin-bottom: 30px

	&_space_more
		margin-bottom: $content_bot_space-more

	&_bot-space_normal
		margin-bottom: $content_bot_space

	&_bot-space_more
		margin-bottom: $content_bot_space-more

	&_bot-space_big
		margin-bottom: $content_bot_space-big

.space-left
	margin-left: 27px

.space-left-sm
	margin-left: 12px

.form-txt
	display: inline-block
	vertical-align: middle


.form-col
	display: inline-block
	vertical-align: top

.input
	+rem(font-size, 14px)
	padding: 0 14px
	width: 350px
	border: none
	border: 1px solid $dark-el-color__form-el

	@extend %bszbb

	background: #fff
	+transition-property(border, box-shadow)
	+transition-duration(0.2s)
	+transition-timing-function(linear)
	border-radius: $border-radius
	
	&_space_left
		margin-left: 12px

	&_w_fluid-half
		width: $fluid_w_half

	&_w_sm
		width: 146px

	&_w_m
		width: 276px

	&_w_smm
		width: 250px

	&_w_mm
		width: 300px
		

	&_w_main-search
		width: 470px
		

	&_w_fluid
		width: 100% !important

	&:focus
		border-color: rgba($focus_color, 0.6)
		outline: 0
		outline: thin dotted 9
		+box-shadow(0 0 5px rgba($focus_color, 0.6))

	&.is-filled
		border-color: $focus_color

input.input
	height: $input-height
	vertical-align: middle

input.input_h_big
	height: $input-height_big

input.input_h_sm
	height: $input-height_sm


textarea.input
	height: 180px
	width: 600px
	padding: 15px
	vertical-align: top

input.input_stt_error,
textarea.input_stt_error
	border: 1px solid #ff0000

select
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	padding: 3px 8px
	.ie9 &
		padding: 0

	option
		padding: 3px 14px
		display: block
		.ie9 &
			padding: 0

.form-label
	display: inline-block
	vertical-align: middle
	line-height: $menu-line-height

	&_stl_important
		@extend %font-regular
		font-weight: bold
	
	&_lt_top
		margin-bottom: 7px
		display: block

	&_w_same
		width: 200px


.form-space-label
	margin-left: 209px

.required-mark
	color: #ff0000
	font-size: 17px

.form-legend
	font-size: 12px
	vertical-align: middle
	color: $text-light_color
	padding-top: 6px
	font-style: italic

.placeholder
	color: $placeholder_color

.form-success
	color: #0BAC31
	//font-size: 12px
	//+font-size-parent-em (12)
	font-style: italic
	white-space: normal

.form-fail
	color: #F33434
	//font-size: 12px
	//+font-size-parent-em (12)
	font-style: italic
	white-space: normal


/* form-elements
/* ---------------------------------------END--- */


/* form-columns
/* --------------------------------------------- */

.form-columns
	display: table
	width: 100%
	margin-bottom: $content_bot_space-sm
	
	&_bot-space_normal
		margin-bottom: $content_bot_space

	&_bot-space_more
		margin-bottom: $content_bot_space-more

	&_bot-space_big
		margin-bottom: $content_bot_space-big

	&__i
		display: table-cell
		vertical-align: middle

		&_tp_label
			width: 175px

		&_valign_top
			vertical-align: top
			padding-top: 10px

		&_space_left
			padding-left: 12px

		&_w_fliud-half
			width: 35%


/* form-columns
/* ---------------------------------------END--- */


/* cr (custom checkbox/radio)
/* --------------------------------------------- */

.cr
	cursor: pointer
	position: relative
	@extend %bszbb
	padding: 1px 0 1px 27px
	vertical-align: middle
	overflow: hidden
	display: inline-block
	line-height: $menu-line-height
	+rem(font-size, 14px)
	color: $text-light_color
	min-height: 18px

	&.on
		color: $text_color


	&_space_left
		margin-left: 27px

	&_space_left-sm
		margin-left: 12px

	input
		position: absolute
		top: 4px
		left: 0
		left: -99999px

	&:before
		@extend %bszbb
		content: ''
		display: block
		position: absolute
		top: 0
		left: 0
		width: 18px
		height: 18px
		border: 1px solid $dark-el-color__fill
		background-color: #fff

	&:after
		content: ''
		display: block
		position: absolute
		+transition-duration(.3s)
		

	&.is-radio:after
		width: 8px
		height: 8px
		border-radius: 50%
		top: 7px
		left: 7px
		margin-left: -2px
		margin-top: -2px
		background: $focus_color
		@include scale(0)
		+transition-property(all)

	&.is-radio:before
		border-radius: 12px
		+transition-property(all)

	&.is-radio.on:before
		border-color: $focus_color

	&.is-radio.on:after
		@include scale(1)

	&.is-checkbox:before
		border-radius: $border-radius

	&.is-checkbox.on:before
		border-color: $focus_color
	
	&__icon
		display: block
		position: absolute
		+svg-dim($w:9px, $h:7px, $wNew:9px, $hNew: none)
		top: 6px
		left: 5px
		color: $focus_color
		+transition-property(opacity)
		+opacity(0)
		+transition-duration(.2s)

		.on > &
			+transition-duration(.3s)
			+opacity(1)

		img
			display: block


/* cr (custom checkbox/radio)
/* ---------------------------------------END--- */


/* select
/* --------------------------------------------- */

.select
	border: 1px solid $dark-el-color__form-el
	cursor: pointer
	display: inline-block
	vertical-align: middle
	position: relative
	display: inline-block
	width: 350px
	@extend %bszbb
	border-radius: $border-radius
	background: #fff
	text-align: left

	&_space_sm
		margin-left: 9px
	&_space_m
		margin-left: 12px
	&_space_big
		margin-left: 27px

	&_w_mm
		width: 300px

	&_w_fluid-half
		width: $fluid_w_half

	&_w_category
		width: 240px

	&_w_city
		width: 270px

	&_w_sm
		width: 128px

	&.is-selected
		border-color: $focus-color

	&_w_fluid
		width: 100% !important

	&__select
		position: relative
		z-index: 10
		height: $input-height - 2
		border: 0
		+opacity(0)
		width: 100% !important



	&_h_big &__select
		height: $input-height_big - 2

	&_h_sm &__select
		height: $input-height_sm - 2
	
	&.is-selected &__item
		color: $text_color

	&__item
		color: $text-light_color
		position: absolute
		top: 0
		left: 0
		z-index: 1
		display: inline-block
		+rem(font-size, 14px)
		width: 100%
		//border-radius: $border-radius

		span span
			display: block
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap



	&__bg
		display: block
		padding: 0 25px 0 14px
		line-height: $input-height - 1
		height: $input-height - 2

		
		@extend %bszbb

	&_h_big &__bg
		height: $input-height_big - 2
		line-height: $input-height_big - 1

	&_h_sm &__bg
		height: $input-height_sm - 2
		line-height: $input-height_sm - 3

	&__arrow
		position: absolute
		right: 0
		top: 0
		bottom: 0
		width: $input-height
		
	&__icon
		width: 11px
		height: 7px
		position: absolute
		top: 50%
		margin-top: -3px
		left: 50%
		margin-left: -5px
		color: $dark-el-color__fill

	&.is-selected &__icon
		color: $focus_color

	&_h_big &__arrow
		width: $input-height_big

	&_h_sm &__arrow
		width: $input-height_sm

	&__group
		background: $dark-el-color__fill

/* select
/* ---------------------------------------END--- */


/* input-train
/* --------------------------------------------- */

.input-train
	@extend %clear

	margin-bottom: $content_bot_space-sm
	
	&__i
		float: left
		border-left-width: 0
		border-radius: 0


		&:first-child
			border-left-style: solid
			border-left-width: 1px
			border-radius: $border-radius 0 0 $border-radius

		&:last-child
			border-radius: 0 $border-radius $border-radius 0


		& + .select
			margin-left: -1px
			border-left-style: solid
			border-left-width: 1px

/* input-train
/* ---------------------------------------END--- */


/* button
/* --------------------------------------------- */

.button
	position: relative
	display: inline-block
	overflow: visible
	border: none
	color: #fff !important
	text-align: center
	text-decoration: none
	cursor: pointer
	vertical-align: middle
	outline: none
	+rem(font-size, 12px)
	text-transform: uppercase
	+rem(letter-spacing, $letter-spacing)
	padding: 0 25px
	white-space: nowrap
	height: $input-height_big
	line-height: $input-height_big
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	background: $main-color
	border-radius: 4px
	@extend %bszbb
	@extend %font-black
	+transition-duration(.9s)
	+transition-property(background, color, border-color)

	&:active
		+box-shadow(inset 0px 3px 7px rgba(#000, .2))
		line-height: $input-height_big + 2

	&:hover
		background: $active-color
		+transition-duration(.2s)


	&_w_sm
		width: 146px

	&_w_m
		width: 276px

	&_w_smm
		width: 250px

	&_w_mm
		width: 300px

	&_w_fix
		width: 350px

	&_w_fix-m
		width: 276px



	&_w_fluid-half
		width: $fluid_w_half

	&_space_sm
		margin-left: 9px
	&_space_m
		margin-left: 12px
	&_space_big
		margin-left: 27px

	&_stl_bordered
		border: 2px solid $main-color
		background: none
		color: $main-color !important
		line-height: $input-height_big - 3

		&.button:hover
			border-color: $active-color
			color: $active-color !important
			background: none
			+transition-duration(.2s)

	&_stl_bordered.button_size_m
		line-height: $input-height - 3

	&_stl_bordered.button_size_sm
		line-height: $input-height_sm - 2

	&_color_stop
		background: $stop_color

	&_stl_bordered.button_color_stop
		border-color: $stop_color
		color: $stop_color !important
		background: none

	&_stl_bordered.button_color_grayscale
		border-color: $dark-el-color__form-el
		background: none

	&_color_grayscale
		background: #edeff1
		color: $text-light_color !important

	&_stl_bordered
		&:active
			line-height: $input-height_big - 1

	&_size_m
		height: $input-height
		line-height: $input-height
		padding-left: 20px
		padding-right: 20px

		&:active
			line-height: $input-height + 2

	&_size_m.button_stl_bordered:active
		line-height: $input-height - 2 !important

	&_size_sm
		height: $input-height_sm
		line-height: $input-height_sm
		padding-left: 20px
		padding-right: 20px
		@extend %font-light
		font-weight: bold
		border-width: 1px !important
		+rem(font-size, 11px)

		&:active
			line-height: $input-height_sm + 2

	&_size_sm.button_stl_bordered:active
		line-height: $input-height_sm + 1 !important
		

	&_stt_disabled,
	&_stt_disabled:active
		color: #fff !important
		background: $disabled-color !important
		cursor: default
		+box-shadow(none)


	&_w_fluid
		width: 100%



/* button
/* ---------------------------------------END--- */


/* main-search
/* --------------------------------------------- */

.main-search
	position: relative
	margin-bottom: 10px
	position: relative
	padding-right: 52px
	

	&_lt_inner
		

	&__category
		width: 26%

	&__input
		width: 49%

	&__place
		width: 25%
		position: absolute
		top: 0
		right: 0
		height: 44px
		visibility: hidden

		& + .chosen-container-single .chosen-single,
		& + .chosen-container-multi
			border-radius: 0
			position: relative
			left: -1px
		
		& + .chosen-container-single .chosen-drop
			margin-left: -1px


	&__button
		position: absolute
		top: 0
		right: 2px
		padding: 0
		width: 52px

	&__icon
		position: relative
		top: -1px


/* main-search
/* ---------------------------------------END--- */


/* detail
/* --------------------------------------------- */

.detail
	margin-bottom: $content_bot_space-sm
	@extend %clear

	&__photos
		width: 50%
		float: left

	&__legend
		@extend %bszbb
		padding-left: 20px
		float: left
		width: 50%

	&__price
		+rem(font-size, 20px)
		line-height: 1
		color: $price-color
		@extend %font-medium
		border-bottom: 1px solid $dark-el-color__sep
		padding-bottom: 12px
		padding-top: 14px
		margin-bottom: 16px

	&__sub-h
		font-weight: bold
		@extend %font-regular
		margin-bottom: 7px

	&__description
		border-bottom: 1px solid $dark-el-color__sep
		margin-bottom: $content_bot_space-more

/* detail
/* ---------------------------------------END--- */


/* properties
/* --------------------------------------------- */

.properties
	
	margin-bottom: $content_bot_space

	&_tp_detail
		

	&__i
		margin-bottom: 8px
		//line-height: $menu-line-height
		display: table
		width: 100%

	&__h,
	&__value
		display: table-cell
		vertical-align: top
	
	&__h
		@extend %bszbb
		padding-right: 20px
		width: 175px
		color: $text-light_color

	&_tp_detail &__h
		width: 36%

	&__value
		

	&_tp_detail &__value
		width: 64%

		

/* properties
/* ---------------------------------------END--- */


/* act-buttons
/* --------------------------------------------- */

.act-buttons
	@extend %clear

	&__i
		float: left
		width: 50%
		@extend %bszbb
		min-width: 210px
		margin-bottom: $content_bot_space-sm
		padding-right: 15px

		&_tp_phone
			
		&_tp_mess
			

	&__button
		padding: 0

	&__icon
		position: relative
		top: -1px
		margin-right: 5px


			

/* act-buttons
/* ---------------------------------------END--- */


/* detail-inf
/* --------------------------------------------- */

.detail-inf
	display: table
	margin-bottom: $content_bot_space
	color: $text-light_color
	+rem(font-size, 12px)

	&__i
		display: table-cell
		vertical-align: middle
		padding-right: 40px
		white-space: nowrap



/* detail-inf
/* ---------------------------------------END--- */


/* views
/* --------------------------------------------- */

.views
	display: inline-block
	color: $text-light_color
	white-space: nowrap

	&__icon
		color: $dark-el-color__fill
		position: relative
		top: -1px
		margin-right: 7px

	&__h
		color: $text_color
		display: inline-block



/* views
/* ---------------------------------------END--- */


/* add-to-favorites
/* --------------------------------------------- */

.add-to-favorites
	display: inline-block
	white-space: nowrap
	+link-color ($color_visited: none)

	&__icon
		color: $dark-el-color__fill
		position: relative
		top: -2px
		margin-right: 7px
		@extend %star-favorites-no

	&:hover &__icon
		@extend %star-favorites-yes

	&__h
		display: inline-block
		



/* add-to-favorites
/* ---------------------------------------END--- */


/* complain
/* --------------------------------------------- */

.complain
	display: inline-block
	+link-color ($color_visited: none)
	white-space: nowrap

	&__icon
		color: $dark-el-color__fill
		position: relative
		top: -2px
		margin-right: 7px

	&:hover &__icon
		color: $stop-color

	&__h
		display: inline-block
		



/* complain
/* ---------------------------------------END--- */


/* user-nav
/* --------------------------------------------- */

.user-nav
	background: $dark-el-color__bg
	margin-bottom: $content_bot_space
	padding: 8px 14px 9px 14px
	line-height: $menu-line-height

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 0
		
	&__a
		text-transform: uppercase
		+rem(letter-spacing, $letter-spacing)
		display: block
		+rem(font-size, 12px)
		@extend %font-black
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
		padding: 9px 0

		.is-active > &
			color: $text-light_color

	&__sub
		margin: 0 0 5px 10px
		padding: 0
		list-style-type: none
		
	&__sub-i
		margin: 0
		padding: 0
		
	&__sub-a
		display: block
		padding: 4px 0

	&__legend
		display: inline-block
		color: $text-light_color
		margin-left: 4px



/* user-nav
/* ---------------------------------------END--- */


/* text-with-legend
/* --------------------------------------------- */

.text-with-legend
	display: inline-block
	vertical-align: middle

	&__legend
		color: $text-light2_color
		display: inline-block

/* text-with-legend
/* ---------------------------------------END--- */


/* m-header
/* --------------------------------------------- */

.m-header
	padding: 12px 0
	
	&__all
		height: 44px
		width: 44px
		background: $dark-el-color__bg
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		border-radius: 4px
		position: relative

	&__ctrl
		position: absolute
		width: 18px
		height: 18px
		padding: 0
		top: 50%
		left: 50%
		margin-left: -9px
		margin-top: -9px

/* m-header
/* ---------------------------------------END--- */


/* m-teasers
/* --------------------------------------------- */

.m-teasers

	margin-bottom: $content_bot_space
	
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0
		padding: 6px 0
		border-bottom: 1px solid $dark-el-color__sep
		display: block
		overflow: hidden
		padding-right: 12px

		
		&_stl_important
			border: 3px solid $important_color
			margin-top: -1px
			padding-left: 6px
			padding-right: 0
			

	&__i_stl_important + &__i_stl_important
		margin-top: -3px
		
	&__body
		display: table
		width: 100%

	&__i_stl_important &__body
		margin-left: -9px
		

	&__photo,
	&__inf,
	&__ctrl
		display: table-cell
		vertical-align: top

	&__ctrl
		width: 54px

	&__photo
		width: 190px

	&__inf
		padding-left: 15px
		position: relative
		padding-top: 30px
		+rem(font-size, 12px)
	
	&__img
		width: 190px
		height: auto
		display: block

	&__checkbox
		margin-left: 13px

	&__h
		position: absolute
		top: 0
		left: 15px
		right: 0
		display: block
		@extend %bszbb
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		margin-bottom: 10px
		padding: 0
		+rem(font-size, 20px)
		line-height: 1.1
		@extend %font-medium
		+link-color ($color: $text_color, $color_visited: $link_color_visited2)

	&__price
		display: inline-block
		vertical-align: middle
		color: $price_color
		+rem(font-size, 16px)
		margin-right: 5px
		width: 126px

	&__line
		display: table
		width: 100%

		&_lt_bottom
			

	&__col
		display: table-cell
		vertical-align: top

		&_align_right
			text-align: right

	&__line_lt_bottom &__col
		vertical-align: bottom
		height: 77px


	&__prop
		vertical-align: middle
		display: inline-block
		color: $text-light_color
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		max-width: 140px

	&__views
		vertical-align: middle

	&__spaced-line
		margin-bottom: 5px

/* m-teasers
/* ---------------------------------------END--- */


/* link-stop
/* --------------------------------------------- */

.link-stop
	+link-color ($color: $stop-color, $color_hover: $link_color_hover, $color_visited: none)

/* link-stop
/* ---------------------------------------END--- */


/* right-sidebar
/* --------------------------------------------- */

.right-sidebar
	background: $dark-el-color__bg
	min-height: 200px
	text-align: center
	@extend %bszbb
	padding-top: 40px

/* right-sidebar
/* ---------------------------------------END--- */


/* msg-link
/* --------------------------------------------- */

.msg-link
	@extend %font-regular
	font-weight: bold
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)


/* msg-link
/* ---------------------------------------END--- */


/* smart-select
/* --------------------------------------------- */

.smart-select

	width: 350px

	&_w_mm
		width: 300px

	&__icon
		width: 11px
		height: 7px
		position: absolute
		top: 50%
		margin-top: -3px
		left: 50%
		margin-left: -5px
		color: $dark-el-color__fill

	&__arrow
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 38px !important
		//background: red

	&.is-selected &__icon,
	.chosen-with-drop &__icon
		color: $focus_color	

/* smart-select
/* ---------------------------------------END--- */


/* h-with-legend
/* --------------------------------------------- */

.h-with-legend
	margin-bottom: 4px

	&__txt
		margin-bottom: 30px


/* h-with-legend
/* ---------------------------------------END--- */


/* go-back
/* --------------------------------------------- */

.go-back
	+link-color ($color_visited: none)
	position: relative
	display: inline-block
	vertical-align: middle

	&:before
		content: '\2190'
		display: block
		position: relative
		display: inline-block
		margin-right: 10px

		

/* go-back
/* ---------------------------------------END--- */


/* content-mess
/* --------------------------------------------- */

.content-mess
	width: 65%
	margin-bottom: $content_bot_space-more

	&_tp_centered
		text-align: center
		margin-right: auto
		margin-left: auto


	p
		margin-bottom: 10px

/* content-mess
/* ---------------------------------------END--- */


/* txt-centered
/* --------------------------------------------- */

.txt-to-center
	text-align: center

/* txt-centered
/* ---------------------------------------END--- */

.txt-important
	@extend %font-regular
	font-weight: bold


/* act-link
/* --------------------------------------------- */

.act-link
	display: inline-block
	+link-color ($color_visited: none)
	vertical-align: middle

/* act-link
/* ---------------------------------------END--- */


/* location-question
/* --------------------------------------------- */

.location-question
	position: absolute
	top: 44px
	left: 10px
	right: 63px
	//height: 2px
	//background: #7CCC2D

	&__body
		position: absolute
		right: 0
		width: 25%
		//height: 2px
		//background: red

	&__popup
		position: absolute
		background: #fff
		top: 8px
		right: 0
		left: 0
		z-index: 99
		@extend %bszbb
		padding: 14px
		+box-shadow(0 0 6px rgba(#000, .2))
		border-radius: $border-radius
		visibility: hidden
		+opacity(0)
		+transition-duration(.5s)

	&.is-open &__popup
		+opacity(1)
		visibility: visible

		&:before
			content: ''
			display: block
			position: absolute
			top: -5px
			left: 50%
			margin-left: -5px
			width: 10px
			height: 10px
			background: #fff
			+rotate(45deg)

	&__mess
		text-align: center
		color: $text-light2_color
		margin-bottom: 10px

	&__city
		display: inline-block
		@extend %font-regular
		font-weight: bold

	&__nowrap
		display: block
		white-space: nowrap
		overflow: hidden

	&__yes,
	&__no
		padding: 0 0
		+max-screen($mq-location-q-w)
			width: 100%

	&__yes
		width: 18%
		+max-screen($mq-location-q-w)
			margin-bottom: 10px

	&__no
		width: 74%
		margin-left: 12px

		+max-screen($mq-location-q-w)
			margin-left: 0

	



/* location-question
/* ---------------------------------------END--- */


/* range-slider
/* --------------------------------------------- */

.interval
	

.ui-rangeSlider
	height: $interval-bar-h

.ui-rangeSlider .ui-rangeSlider-innerBar
	height: $interval-bar-h
	margin: 0
	background: $dark-el-color__fill
	border-radius: 2px


.ui-rangeSlider .ui-rangeSlider-handle
	width: 14px
	height: 14px
	background: $main-color
	border-radius: 50%
	cursor: col-resize
	top: -5px !important

	&:before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: 50%
		margin-top: -3px
		margin-left: -3px
		background: #fff

		width: 6px
		height: 6px
		border-radius: 50%


.ui-rangeSlider .ui-rangeSlider-bar
	margin: 0
	background: #CCC
	//background: yellow
	background: $main-color
	height: $interval-bar-h
	cursor: move
	cursor: grab
	cursor: -moz-grab



.ui-rangeSlider .ui-rangeSlider-bar.ui-draggable-dragging
	cursor:	-moz-grabbing
	cursor: grabbing


.ui-rangeSlider-arrow
	height: 16px
	margin: 2px 0
	width: 16px
	background-repeat: no-repeat


.ui-rangeSlider-arrow.ui-rangeSlider-leftArrow
	background: red
	background-position: center left


.ui-rangeSlider-arrow.ui-rangeSlider-rightArrow
	background: red
	background-position: center right


.ui-rangeSlider-arrow-inner
	display: none


.ui-rangeSlider-container
	height: $interval-bar-h


.ui-rangeSlider-withArrows .ui-rangeSlider-container
	margin: 0 11px


.ui-rangeSlider-noArrow .ui-rangeSlider-container
	margin: 0


.ui-rangeSlider-label
	margin: 0 2px 2px
	background: #fff
	+box-shadow(0 0 6px rgba(#000, .2))
	border-radius: $border-radius
	background-position: bottom center
	background-repeat: no-repeat
	white-space: nowrap
	bottom: 15px
	padding: 3px 6px 7px
	cursor: col-resize

	&:before
		content: ''
		display: block
		position: absolute
		bottom: -5px
		left: 50%
		margin-left: -5px
		width: 10px
		height: 10px
		background: #fff
		+rotate(45deg)
		border: 1px solid rgba(#000, .2)

	&:after
		content: ''
		display: block
		position: absolute
		bottom: 0
		left: 50%
		margin-left: -10px
		width: 20px
		height: 10px
		background: #fff


.ui-rangeSlider-label-inner
	display: none


/*
 * Edit slider
 */

input.ui-editRangeSlider-inputValue
	width: 3em
	vertical-align: middle
	text-align: center


/* range-slider
/* ---------------------------------------END--- */


/* interval
/* --------------------------------------------- */

.interval
	width: 350px
	@extend %bszbb
	vertical-align: middle
	display: inline-block
	background: #fff
	border: 1px solid $dark-el-color__form-el
	border-radius: $border-radius
	cursor: pointer
	position: relative
	@extend %clear

	&_w_mm
		width: 300px

	&_w_smm
		width: 250px

	&_space_sm
		margin-left: 9px
	&_space_m
		margin-left: 12px
	&_space_big
		margin-left: 27px

	&__i
		@extend %bszbb
		float: left
		height: $input-height - 2
		line-height: $input-height - 2
		border-left: 1px solid $dark-el-color__form-el
		width: 50%
		padding: 0 14px

		&:first-child
			border-left: none

	&__legend
		display: inline-block

	&__val
		display: inline-block

/* interval
/* ---------------------------------------END--- */


/* hint
/* --------------------------------------------- */

.hint
	position: absolute
	background: #fff
	top: 100%
	margin-top: 9px
	right: 0
	left: 0
	z-index: 99
	@extend %bszbb
	padding: 14px
	+box-shadow(0 0 6px rgba(#000, .2))
	border-radius: $border-radius
	visibility: hidden
	+opacity(0)
	+transition-duration(.5s)

	&_tp_interval
		padding-top: 30px
		padding-bottom: 30px

	.is-open > &
		+opacity(1)
		visibility: visible

		&:before
			content: ''
			display: block
			position: absolute
			top: -5px
			left: 50%
			margin-left: -5px
			width: 10px
			height: 10px
			background: #fff
			+rotate(45deg)

/* hint
/* ---------------------------------------END--- */


/* popup
/* --------------------------------------------- */

.popup
	background: $dark-el-color__bg
	padding: 1px
	text-align: left
	max-width: 500px
	margin: 40px auto
	position: relative
	@extend %bszbb

	p
		margin-bottom: 12px

	&__body
		margin: 49px 69px
	
	&_w_m
		width: 400px

	&__h
		+rem(font-size, 24px)
		margin: 0 0 22px 0
		padding: 0

		&_stl_up
			+rem(font-size, 12px)
			text-transform: uppercase
			+rem(letter-spacing, $letter-spacing)
			@extend %font-black
		

/* popup
/* ---------------------------------------END--- */