%bszbb
	@include box-sizing(border-box)

/* clearfix
/* --------------------------------------------- */


%clear
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both

.clearfix-block
	clear: both
	overflow: hidden
	margin: 0
	padding: 0
	font-size: 0
	line-height: 0

.clearfix 
	&:before,
	&:after
		display: table
		content: ''
		clear: both
	&:after
		clear: both


/* clearfix
/* ---------------------------------------END--- */


/* centered
/* --------------------------------------------- */

.centered
	margin: auto
	min-width: $min-width
	max-width: $page_w_max_sm
	padding-left: 10px
	padding-right: 10px
	+box-sizing(border-box)

/* centered
/* ---------------------------------------END--- */


/* page
/* --------------------------------------------- */

.page
	$footer_h: 143px

	position: relative
	min-height: 100%
	width: 100%
	min-width: $min-width

	&__header
		//background: #adf785
		border-bottom: 1px solid #e0e0e0
		@include box-shadow(0 1px 0 #f2f2f2)
		

	&__header-in
		position: relative
		height: 70px
		@extend %clear
		max-width: $page_w_max

	&__body

	&__in
		padding-bottom: $footer_h

	&__mainbar
		float: left
		width: 100%

	&__content
		overflow: hidden
		margin: 0 230px
		min-height: 20px
		background: #f6f866

	&__sidebar
		float: left
		width: 220px

		&_lt_left
			margin-left: -100%
			background: #bfdcf3

		&_lt_right
			margin-left: -220px
			background: #ffaa30

	&__footer
		@extend %bszbb
		padding-top: 13px
		position: relative
		//background: #f1acf2
		margin-top: -$footer_h
		height: $footer_h
		min-width: $min-width
		border-top: 1px solid $dark-el-color__sep

	
/* page
/* ---------------------------------------END--- */


/* logo
/* --------------------------------------------- */

.logo
	position: relative
	top: 28px
	display: block
	width: 154px
	height: 22px
	border-bottom: none
	float: left
	margin-right: 39px
	margin-left: 40px
	+max-screen($mq_logo)
		width: 100px !important
		margin-right: 20px
		margin-left: 10px

	&__icon
		display: block
		+max-screen($mq_logo)
			width: 100px !important
			height: auto

	
/* logo
/* ---------------------------------------END--- */


/* search-panel
/* --------------------------------------------- */

.search-panel
	background: $dark-el-color__bg
	padding: 23px 0 16px 0
	margin-bottom: 28px

/* search-panel
/* ---------------------------------------END--- */


/* nav
/* --------------------------------------------- */

.nav
	position: absolute
	top: 72px
	left: 0
	right: 0
	background: #fff
	padding: 34px
	+transition-duration(.5s)
	+box-shadow(0px 15px 15px rgba(#000, .2))
	visibility: hidden
	+opacity(0)

	&.is-open
		+opacity(1)
		visibility: visible

	&__body
		max-width: $page_w_max_sm
		margin: auto

	&__main-nav
		display: none
		margin-top: -20px
		margin-bottom: 20px
		+max-screen($mq_main-nav-width)
			display: block


/* nav
/* ---------------------------------------END--- */


/* nav-ctrl
/* --------------------------------------------- */

.nav-ctrl
	float: left
	width: 70px
	height: 70px
	border-right: 1px solid #fbfbfb
	//background: #E6DEDE
	cursor: pointer
	position: relative
	+max-screen($mq_logo)
		width: 45px

	&:before
		content: ''
		display: block
		position: absolute
		bottom: -2px
		right: 0
		width: 9999px
		height: 2px
		background: #fff
		+transition-duration(.5s)
		visibility: hidden
		+opacity(0)

	&.is-open
		&:before
			+opacity(1)
			visibility: visible


	&.is-open

	&__body
		position: absolute
		width: 20px
		height: 14px
		top: 50%
		margin-top: -7px
		left: 50%
		margin-left: -10px
		//background: red
	
	&:hover &__i
		background: $link_color_hover
	&__i
		width: 20px
		height: 2px
		background: #60676d
		position: absolute
		left: 0
		+transition-duration(.5s)
		+transform-origin(left, center)


		&_tp_top
			top: 0
			.is-open &
				top: -1px
				+rotate(45deg)

		&_tp_middle
			top: 6px
			.is-open &
				left: -15px
				+opacity(0)

		&_tp_bottom
			bottom: 0
			.is-open &
				bottom: -1px
				+rotate(-45deg)

/* nav-ctrl
/* ---------------------------------------END--- */


/* table
/* --------------------------------------------- */

.table 
	margin-bottom: 20px
	width: 100%
	border: 2px solid #e9ecee

	&__h td,
	& th 
		font-size: 13px
		font-weight: bold
		color: #888
		background: #e9ecee

	& th,
	& td
		padding: 10px 14px
		border-bottom: 1px solid #e9ecee

	&__line
		background: #f6f6f6

	
/* table
/* ---------------------------------------END--- */



/* svg-icons
/* --------------------------------------------- */

#svg-icons
	position: absolute
	top: 0
	left: 0
	height: 0
	width: 0
	z-index: 0
	

/* svg-icons
/* ---------------------------------------END--- */


/* footer-nav
/* --------------------------------------------- */

.footer-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	padding: 10px 0

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		display: block
		text-transform: uppercase
		padding: 3px 13px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active &
			color: $link_color_hover

/* footer-nav
/* ---------------------------------------END--- */


/* columns
/* --------------------------------------------- */

.columns
	display: table
	width: 100%

	&__i
		display: table-cell
		vertical-align: top

		&_valign_middle
			vertical-align: middle

/* columns
/* ---------------------------------------END--- */


/* txt-to-right
/* --------------------------------------------- */

.txt-to-right
	text-align: right

/* txt-to-right
/* ---------------------------------------END--- */


/* main-nav
/* --------------------------------------------- */

.main-nav
	@extend %clear
	@extend %font-black
	+rem(font-size, 12px)
	margin-left: -13px
	
	&_lt_left
		float: left

	&_tp_desctop
		+max-screen($mq_main-nav-width)
			display: none

	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		
	&__i
		float: left
		margin: 0
		padding: 0
		

	&__a
		position: relative
		display: block
		text-transform: uppercase
		padding: 0 13px
		height: 70px
		line-height: 70px
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)

		.is-active &
			color: $link_color_hover

			&:before
				content: ''
				display: block
				position: absolute
				bottom: 0
				left: 0
				right: 0
				height: 5px
				background: $link_color_hover

	&_tp_mobile &__a
		padding: 13px
		height: auto
		line-height: 1
			

/* main-nav
/* ---------------------------------------END--- */


/* icon
/* --------------------------------------------- */

.icon
	width: 16px
	height: 16px
	display: inline-block
	vertical-align: middle

/* icon
/* ---------------------------------------END--- */


/* bordered-panel
/* --------------------------------------------- */

.bordered-panel
	padding-top: 13px
	border-top: 1px solid $dark-el-color__sep

/* bordered-panel
/* ---------------------------------------END--- */


/* copyright
/* --------------------------------------------- */

.copyright
	margin-bottom: 12px

/* copyright
/* ---------------------------------------END--- */


/* rights
/* --------------------------------------------- */

.rights
	color: #979797
	+rem(font-size, 11px)

/* rights
/* ---------------------------------------END--- */


/* category-nav
/* --------------------------------------------- */

.category-nav
	&__h
		+rem(font-size, 16px)
		@extend %font-regular
		+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
		font-weight: bold
		padding-bottom: 3px
		display: inline-block
		
	&__lst
		margin: 0
		padding: 0
		list-style-type: none
		+rem(font-size, 12px)
		display: block
		
		
	&__i
		margin: 0
		padding: 0
		display: block

		+max-screen($mq_nav-teasers-width2)
			display: inline-block
			margin-right: 20px

	&__a
		+link-color ($color_visited: none)
		padding: 3px 0
		display: inline-block
		

/* category-nav
/* ---------------------------------------END--- */


/* nav-teasers
/* --------------------------------------------- */

.nav-teasers

	margin-bottom: 13px
	
	&__lst
		margin: 0 0 0 -20px
		padding: 0
		list-style-type: none
		
	&__i
		margin: 0 0 26px 20px
		padding: 0
		@extend %bszbb
		display: inline-block
		vertical-align: top
		width: (100%/4) - 4%

		+max-screen($mq_nav-teasers-width)
			width: (100%/3) - 5%

		+max-screen($mq_nav-teasers-width2)
			width: 100% !important


/* nav-teasers
/* ---------------------------------------END--- */


/* enter
/* --------------------------------------------- */

.enter
	display: inline-block
	vertical-align: middle
	white-space: nowrap
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)
	+max-screen($mq_user-auth)
		text-align: center
		margin-left: 10px

	&__icon
		margin-left: 40px
		+max-screen($mq_user-auth)
			margin-left: 0
			margin-bottom: 3px

		
	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		display: inline-block
		vertical-align: middle
		margin-left: 24px
		+max-screen($mq_user-auth)
			display: block
			margin-left: 0
			text-align: center

/* enter
/* ---------------------------------------END--- */


/* user
/* --------------------------------------------- */

.user
	display: inline-block
	vertical-align: middle
	+link-color ($color: $text_color, $color_hover: $link_color_hover, $color_visited: none)


	&__h
		+rem(font-size, 12px)
		text-transform: uppercase
		display: inline-block
		vertical-align: middle
		@extend %font-black
		margin-left: 25px
		+max-screen($mq_user-auth)
			margin-left: 10px
		+max-screen($mq_logo)
			display: none

/* user
/* ---------------------------------------END--- */

	
/* add-button
/* --------------------------------------------- */

.add-button
	display: inline-block
	vertical-align: middle
	margin-left: 40px
	+max-screen($mq_user-auth)
		margin-left: 10px

	&__icon
		width: 32px
		height: 32px
		display: block

/* add-button
/* ---------------------------------------END--- */


/* all-favorites
/* --------------------------------------------- */

.all-favorites
	display: inline-block
	vertical-align: middle
	white-space: nowrap

	&__icon
		vertical-align: middle
		color: #d9dbdc
		
	&__h
		color: #D7D9DA
		+rem(font-size, 12px)
		display: inline-block
		vertical-align: middle
		margin-left: 10px
		+max-screen($mq_user-auth)
			display: block
			margin-left: 0
			text-align: center
			padding-top: 4px
		

/* all-favorites
/* ---------------------------------------END--- */