
// ----------colors


$dark-el-color__sep: #dadada
$dark-el-color__form-el: #d3d8db
$dark-el-color__fill: #c4cacf
$dark-el-color__bg: #f8f8f8
$dark-el-color__light: #e9ebed
$dark-el-color__page-border: #e0e0e0

$disabled-color: $dark-el-color__form-el

$main-color: #78c58b

$active-color: #fbb568

$shadow_color: #000

$star-color: #ffc108

$text_color: #363636
$text-light_color: #8996A0
$text-light2_color: #60676D
$price_color: #77C58B
$favorite_color: #ffc108
$important_color: #fdd7ad
$stop_color: #f36c4f
//$text_color_imp: #993333

$placeholder_color: $text-light_color
$focus_color: $main-color

$selection_bg: #b3d4fc

$link_color: #003663 
$link_color_hover: #6699cc
$link_color_visited: #250e4b
$link_color_visited2: #744687

$link_animation-time: .5s

$link_color--light: #fff
$link_color_hover--light: #000
$link_color_visited--light: #fff

// END-------colors

$page_w: 1200px
$page_w_min: 1000px
$page_w_max: 1200px
$page_w_max_sm: 1000px
$img_path: "../img/"
$font_main: 'Roboto Light', 'Times New Roman', Arial, Tahoma, Verdana, sans-serif

$content_bot_space: 20px
$content_bot_space-more: 25px
$content_bot_space-sm: 15px
$content_bot_space-smst: 10px

$min-width: 1px

$menu-line-height: 1.2


$input-height: 38px
$input-height_big: 44px
$input-height_sm: 30px


$border-radius: 3px


$letter-spacing: 1px




