
// ----------colors


$dark-el-color__sep: #dadada
$dark-el-color__form-el: #d3d8db
$dark-el-color__fill: #c4cacf
$dark-el-color__bg: #f8f8f8


$shadow_color: #000

$text_color: #363636
$text_color_imp: #993333

$selection_bg: #b3d4fc

$link_color: #003663
$link_color_hover: #FBB568
$link_color_visited: #B40EB4
$link_animation-time: .5s

$link_color--light: #fff
$link_color_hover--light: #000
$link_color_visited--light: #fff

// END-------colors

$page_w: 1000px
$page_w_min: 1000px
$page_w_max: 1200px
$page_w_max_sm: 1000px
$img_path: "../img/"
$font_main: 'Roboto Light', 'Times New Roman', Arial, Tahoma, Verdana, sans-serif

$content_bot_space: 20px

$min-width: 200px



$mq_main-nav-width: 1070px
$mq_nav-teasers-width: 755px
$mq_nav-teasers-width2: 530px